/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the page */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url(pics/background.png);
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    margin-right: 8%;
}

.logo {
    width: 150px;
    cursor: pointer;
    margin-left: 10%;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #5196ad;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: width 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

section:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}

section h2 {
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: none;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}

section p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #666;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-column {
    width: 48%;
    /* Adjust width for responsiveness */
}

.skills-column h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.skills-column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills-column ul li {
    font-size: 1.1em;
    color: #444;
    margin-bottom: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}

footer p {
    margin: 0;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .skills-column {
        width: 100%;
        /* Full width for smaller screens */
        margin-bottom: 20px;
    }

    section h2 {
        font-size: 1.5em;
    }

    section p {
        font-size: 1em;
    }

    section ul li {
        font-size: 1em;
    }
}

.creator-info{
    text-align: center;
}


#contact{
    text-align: center;
    justify-content: center;
}

ul p{
    margin-left: 50px;
}

.creator-info p{
    margin-bottom: 20px;
    
}

